/*********************
* Change Page Button *
**********************/

/*When searching change the page*/
footer {
    display: grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    bottom: 20px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--mainPurple);
    border-radius: 10px;
    width: 25vw;
    height: 50px;

    left: 37%;
    padding: 0.5vw;
}
/*The button to change page in search mode*/
.pageButton {
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    color: var(--mainBorder);
    font-weight: 1000;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    transition: all 0.4s;
    cursor: pointer;

}

.pageButton:hover {
    border: none;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.17);
}

.channelBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
    overflow-x: hidden;

    transition: all 0.4s;

    background-color: var(--mainBackground);

    padding: 30px;
    border-radius: 10px;
}

.channelBox:hover {
    background-color: var(--mainPurple);
}

.authorName {
    font-size: 20px;
}

/*TODO:Subbox style*/
.subscriberBox {
    font-style: oblique;
}

.unsubscribeButton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.4s;
    cursor: pointer;
    height: 35px;
}

.unsubscribeButton:hover {
    transform: scale(2);
}

/*The settings Button*/
#settings {
    position: fixed;
    bottom: -45px;
    right: -45px;
    transform: rotate(0deg);
    transition: all 1s;
    cursor: pointer;
    padding: 0;
}

#settings:hover {
    transform: rotate(360deg) scale(2);
}

.profilePicFromSubscribed {
    width: 50px;
}
/****************
*   Playlists   * on playlist page
*****************/
.playlists {
    background-color: #00000019;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;

    padding-left: 4vw;
    padding-right: 4vw;
}

.playlists:hover {
    background-color: #0000004a;
    height: 60px;
    border: var(--mainPurple) solid 10px;
}

.deletePlaylistButton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.4s;
    cursor: pointer;
}

.deletePlaylistButton:hover {
    transform: scale(2);
}

/*Mains*/
#mainBox { /*Makes the main block smaller*/
    background-color: var(--mainGlay);
    border-radius: 10px;
    
    width: 80%;
    height: 85vh;

    overflow: scroll;

    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    overflow-x: hidden;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: center;
    grid-row-gap: 30px;
    margin-left: 25px;
}

#sideBar {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--mainBackground);
    border: 40px solid var(--mainBackground);
    border-radius: 10px;

    padding: 30px;
    margin: 30px;

    margin-left: auto;
    margin-right: auto;
    background-color: var(--mainBackground);
    width: 70vw;
    height: 300px;
}

.creatorButton {
    background-color: #00000019;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
    width: 100%;

    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    z-index: 50;
}
.creatorButton:hover {
    background-color: #0000004a;
    height: 60px;
    border: var(--mainPurple) solid 10px;
}

/*Search Bar*/
.searchBox {
    margin-left: 10vw;
    width: 240px;

    display: flex;
}

.searchButton {
    border: 1px solid var(--mainBorder);
    width: 120px;
    height: 40px;
    border-radius: 0;
    border: none;

    background-color: var(--mainBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    padding:0px;
    margin:0px;
}

.searchButton:hover {
    background: var(--mainPurple);
}
  
.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    padding-left: 5px;
    color: white;
    font-size: auto;
    transition: 0.4s;
    line-height: 40px;
    width: 100%;
    background-color: var(--mainBackground);
}

#sortType {
    color: var(--mainGlay);
    width: 120px;
    height: 40px;
    border: none;
    color: white;
    
    background-color: var(--mainBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    padding:0px;
    margin:0px;
}

#searchSuggestions {
    display: none;
    background-color: rgba(95, 19, 61, 0.507);
    position: absolute;
    width: 13vw;
    height: auto;
    top: 4vw;
    right: 4.5vw;
    border-radius: 10px;
    z-index: 50;
}

.searchSuggestionMessage {
    cursor: pointer;
}

#sortBox {
    position: absolute;
    display: grid;
    justify-content: space-between;
    top: 6vw;
    left: 0vw;
    z-index: 50;
    background-color: rgba(54, 54, 54, 0.699);
    width: 10px;
    height: 20vh;
    padding-top: 10px;
    padding-bottom: 10px;

    justify-content: center;
    align-items: center;

    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#sortBox:hover {
    width: 7%;
    padding-left: 0vw;
    opacity: 1;
}



/****************
*   Responsive  *
****************/

/*Search Boxes*/
@media only screen and (max-width: 1600px) {
    .searchBox {
        margin-left: 7vw;
    }
}
@media only screen and (max-width: 1400px) {
    .searchBox {
        margin-left: 4vw;
    }
    #searchSuggestions {
        width: 30vw;
        top: 5vw;
    }
}
@media only screen and (max-width: 1200px) {
    .searchBox {
        margin-left: 1vw;
    }

}
@media only screen and (max-width: 1000px) {
    .searchBox {
        margin-left: -4vw;
    }

    #searchSuggestions {
        width: 95vw;
        left: 0vw;
        top: 5vw;
        position: relative;
    }

    #mainBox {
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .vid-box-footer {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .vid-box {
        width: 40px;
    }
}
@media only screen and (max-width: 800px) {

    #sideBar {
        height: 100px;
        width: 50vw;
        padding: 3px;
    }

    .searchBox {
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }

    #mainBox {
        margin-top: 4vw;
        height: 70vh;
    }

}

@media only screen and (max-height: 1000px) {
    #mainBox {
        height: 70vh;
    }
}