footer {
    display: flex;
    position: fixed;
    bottom: 20px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--mainPurple);;
    border-radius: 10px;
    width: 25vw;
    height: 50px;

    left: 37%;
    padding: 0.5vw;

    box-shadow: 4px 4px #0000004d;
}

.pageButton {
    background-color: rgba(0, 0, 0, 0);
    font-size: 50px;
    color: var(--mainBorder);
    font-weight: 1000;
    border: none;
    padding: 0;
    width: 4vw;
    border-radius: 20px;

    transition: all 0.4s;
    cursor: pointer;

}

.pageButton:hover {
    background-color: rgba(0, 0, 0, 0.17);
}

.channelBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
    overflow-x: hidden;

    transition: all 0.4s;

    background-color: var(--mainBackground);

    padding: 30px;
    border-radius: 10px;
}

.channelBox:hover {
    background-color: var(--mainPurple);
}

.subscriberBox {
    font-style: oblique;
}

#settings {
    position: fixed;
    bottom: 2vw;
    right: 3vw;
    transform: rotate(0deg);
    transition: all 1s;
}

#settings:hover {
    transform: rotate(360deg) scale(2);
}

.scheduledVideo {
    border: 10px solid black;
}

.playlists {
    background-color: #00000019;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.playlists:hover {
    background-color: #0000004a;
    height: 60px;
    border: var(--mainPurple) solid 10px;
}

/*Mains*/
#mainBox {
    background-color: var(--mainGlay);
    border-radius: 10px;
    
    width: 80%;
    height: 83vh;

    overflow: scroll;

    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

main {  
    align-items: center;
    justify-content: center;
    grid-row-gap: 4vw;
    /*HACK:for some reason this needs to be there*/
    margin-left: 2vw;
}

#sideBar {
    overflow-y: scroll;
    background-color: var(--mainBackground);
    border: 40px solid var(--mainBackground);
    border-radius: 10px;

    padding: 30px;
    margin: 30px;

    margin-left: auto;
    margin-right: auto;
    background-color: var(--mainBackground);
    width: 70vw;
    height: 300px;
}
/*Search Bar*/
.searchBox {
    margin-left: 10vw;
    width: 240px;

    display: grid;
    grid-template-columns: 100px 120px 20px;
}
  
.searchButton {
    color: var(--mainGlay);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--mainBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchButton:hover {
    background: var(--mainPurple);
}
  
.searchInput {
    border: 1px solid var(--mainBorder);
    border-radius: 10px;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    padding-left: 5px;
    color: white;
    font-size: auto;
    transition: 0.4s;
    line-height: 40px;
    width: 80%;
    background-color: var(--mainBackground);
}

#sortType {
    height: 42px;
    border-radius: 20px;
    padding: 10px;
}

#searchSuggestions {
    display: none;
    background-color: rgba(95, 19, 61, 0.507);
    position: absolute;
    width: 13vw;
    height: auto;
    top: 4vw;
    right: 4.5vw;
    border-radius: 10px;
    z-index: 50;
}

.searchSuggestionMessage {
    cursor: pointer;
}

#sortBox {
    position: absolute;
    display: grid;
    justify-content: space-between;
    top: 6vw;
    left: 0vw;
    z-index: 50;
    background-color: rgba(54, 54, 54, 0.699);
    width: 10px;
    height: 20vh;
    padding-top: 10px;
    padding-bottom: 10px;

    justify-content: center;
    align-items: center;

    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#sortBox:hover {
    width: 7%;
    padding-left: 0vw;
    opacity: 1;
}

.authorName {
    font-size: 20px;
}

/****************
*   Responsive  *
****************/

/*Search Boxes*/
@media only screen and (max-width: 1600px) {
    .searchBox {
        margin-left: 7vw;
    }
}
@media only screen and (max-width: 1400px) {
    .searchBox {
        margin-left: 4vw;
    }
    #searchSuggestions {
        width: 30vw;
        top: 5vw;
    }
}
@media only screen and (max-width: 1200px) {
    .searchBox {
        margin-left: 1vw;
    }

}
@media only screen and (max-width: 1000px) {
    .searchBox {
        margin-left: -4vw;
    }

    #searchSuggestions {
        width: 95vw;
        left: 0vw;
        top: 5vw;
        position: relative;
    }
}
@media only screen and (max-width: 800px) {

    .searchBox {
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }

}