/**,
*::before,
*::after {
  box-sizing: border-box;
}
*/

/*******
* Vars *
*******/
:root {
    --mainPurple: #393136;
    --mainGlay: rgb(41, 41, 41);
    --mainBackground: #252525;
    --mainBorder: #999999;
    --Purple2: #7b487dff;
    --Purple3: #382A38;
    --boxshadow: #ffffff26;
}

/*******
* Main *
*******/

html {
    color-scheme: dark;
    font-family: spacemono;
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    background-color: var(--mainBackground);
    padding: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 13px;
    transition: all 0.1s;
    cursor: pointer;
}

button:hover{
    border: var(--Purple2) 2px solid;
    transform: scale(0.9);
    box-shadow: black 3px 3px 30px;
}

/*
#aButton {
    background-color: var(--mainBackground);
    padding: 1em;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-right: 1vw;
    width: 80px;
}
*/
header{
    display: grid;
    grid-template-columns: 25% 30% 25%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainPurple);

    top: 0;
}

nav {
    display: flex;
    background-color: var(--mainBackground);
    align-items: center;
    border-radius: 10px;
    border: var(--mainBorder) solid 1px;
    justify-content: space-between;
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

/*Basic*/
.flex-box {
    display: flex;
    justify-content: space-between;
}
.center-box {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

/*The items of the nav bar*/
.selectionBoxes { 
    display: flex;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 10px;
    width: 3vw;
    height: 70px;

    align-items: center;
    justify-content: center;
}

.selectionBoxes:hover {
    background-color: var(--boxshadow);
}

/*Going to author button*/
.authorNamePageButton {
    z-index: 50;

    transition: all 0.4s;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0);
}

.authorNamePageButton:hover {
    text-decoration-color: rgb(255, 255, 255);
}


/***********
 *  Images *
 ***********/
#homeImg {
    width: 60px;
}
  
#flagImg {
    width: 30px;
}
  
#subImg {
    width: 60px;
}

#logo {
    width: 120px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

/********************
*   Types of Video  *
********************/

/*Vids in Main and Side bar*/
.vid-box {
    background-color: var(--mainGlay);
    width: 90%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    cursor: pointer;
    transition: all 1s;
}

.vid-box-footer {
    background-color: rgba(0, 0, 0, 0.575);

    width: 100%;
    display: flex;
    justify-content: space-between;
    
    /*thegrid*/
    grid-template-columns: repeat(7, auto);
    grid-column-gap: auto;
}

.vid-box-footer-box {
    height: 100%;
}

#playlist-box {
    background-color: var(--mainGlay);
    width: 90%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    cursor: pointer;
  
    border: rgba(0, 0, 0, 0.83) 10px solid;
}

.scheduledVideo {
    border: 10px solid black;
}

/*makes the details show when hovering on a video*/
.touchBoxforHover {
    opacity: 0;
    transition: all 0.2s;
    height: 100%;
}

.touchBoxforHover:hover {
    opacity: 1;
}

/************
*   Fixes   *
*************/
/*Removes the anoying Link style*/
a {
    text-decoration: none;
    color: white;
}

/***************
*   Responsive *
***************/
@media only screen and (max-width: 1800px) {
    main {
        grid-template-columns: 34% 34% 34%;
    }
}

@media only screen and (max-width: 1400px) {
    main {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: auto;
    }

}
@media only screen and (max-width: 800px) {

    header {
        padding-top: 3vw;
        grid-row-gap: 10vw;
        grid-column-gap: 10vw;
        grid-template-columns: 25% 50%;
        padding-left: 2vw;
        
    }

    nav {
        margin-left: -2vw;
    }

}
/*TODO:Fixing mobile not working*/
@media (pointer:none), (pointer:coarse) {
    #touchBoxforHover {
        opacity: 1;
    }
}