nav {
    filter:opacity(0.1);
}

main {
    display: block;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    background-color: var(--mainGlay);
    margin-top: 3vw;
    padding: 1vw;
    border-radius: 10px;
}

#dragBox {
    border: 4px solid var(--mainBorder);
    padding: 40px;
    margin: 50px;
    border-radius: 20px;
}